<%- include('partials/header') %>

<body >
<%- include('navbar') %>
  <div class="jumbotron">
    <h1 class="display-4">About Our Company &#127759;</h1>
    <hr class="my-4">
    <p class="lead">GoClouds is your all-in-one travel planning website, which will take take care of all your travelling needs to ensure that you have a smooth journey.</p>
    <p>From booking flight tickets to choosing luxurious hotels and renting transportation- GoClouds is the easiest and most efficient way of planning a perfect holiday  </p>
    <p>We present to you some of the most cost effective flight rates and hotel fares, that will leave you astounded.  </p>
    <p>Offering a wide range of travel destinations for you to choose from, hotels to stay in and places to visit-we gurantee that you will have an enjoyable trip!</p>
    <p><em><b>Thank you for visiting our site! Eventful holidays are on its way!</b></em></p>

    <img class="about-img" src="images/travel-2.jpg" height="500" >
    </div>



<%- include('partials/footer') %>
