<%- include('partials/header') %>

<body >
  <!-- <h1 style="text-align:center;">&#127759; About Our Company &#127759;</h1>
  <hr size="3">
  <h2 style="text-align:center;"><strong>GoClouds is your all-in-one travel planning website, which will take take care of all your travelling needs to ensure that you have a smooth journey.</strong></h2>

  <p style="text-align:center;">From booking flight tickets to choosing luxurious hotels and renting transportation- GoClouds is the easiest and most efficient way of planning a perfect holiday  </p>
  <p style="text-align:center;">We present to you some of the most cost effective flight rates and hotel fares, that will leave you astounded.  </p>
  <p style="text-align:center;">Offering a wide range of travel destinations for you to choose from, hotels to stay in and places to visit-we gurantee that you will have an enjoyable trip!</p>
  <p style="text-align:center;"><em><b>Thank you for visiting our site! Eventful holidays are on its way!</b></em></p>
  <h2 style="text-align:center;">Hope to see you on board!</h2> -->


  <div class="jumbotron">
    <h1 class="display-4">About Our Company &#127759;</h1>
    <hr class="my-4">
    <p class="lead">GoClouds is your all-in-one travel planning website, which will take take care of all your travelling needs to ensure that you have a smooth journey.</p>
    <p>From booking flight tickets to choosing luxurious hotels and renting transportation- GoClouds is the easiest and most efficient way of planning a perfect holiday  </p>
    <p>We present to you some of the most cost effective flight rates and hotel fares, that will leave you astounded.  </p>
    <p>Offering a wide range of travel destinations for you to choose from, hotels to stay in and places to visit-we gurantee that you will have an enjoyable trip!</p>
    <p><em><b>Thank you for visiting our site! Eventful holidays are on its way!</b></em></p>

    <img class="about-img" src="images/travel-2.jpg" height="500" >
    </div>



<%- include('partials/footer') %>
