<%- include('partials/header') %>

<body class="flight-booking-body">
  <%- include('navbar') %>
  <div class="booking-form">
    <form action="/flight-booking-submit" method="post">
      <div>
        <h2>Book A Flight</h2>
      </div>
      <hr>
      <div class="booking-form-input-box">
        <div style="padding-bottom:20px;" class="form-row">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tripType" value="oneWay" checked="checked">
            <label class="form-check-label" for="tripType">One-Way</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tripType" value="roundTrip">
            <label class="form-check-label" for="tripType">Round Trip</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="flyingFrom">Flying From</label>
            <select class="custom-select" name="flyingFrom">
              <option selected>Choose</option>
              <option value="SJO">San Jose, California</option>
              <option value="BOS">Boston, Massachusetts</option>
              <option value="LAX">Los Angeles, California</option>
              <option value="PHX">Phoenix, Arizona</option>
              <option value="SFO">San Francisco, California</option>
              <option value="JAN">Jackson, Mississippi</option>
              <option value="CLE">Cleveland, Ohio</option>
              <option value="SEA">Seattle, Washington</option>
              <option value="PHL">Philadelphia, Pennsylvania</option>
              <option value="ALB">Albany, New York</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="flyingTo">Flying To</label>
            <select class="custom-select" name="flyingTo">
              <option selected>Choose</option>
              <option value="SJO">San Jose, California</option>
              <option value="BOS">Boston, Massachusetts</option>
              <option value="LAX">Los Angeles, California</option>
              <option value="PHX">Phoenix, Arizona</option>
              <option value="SFO">San Francisco, California</option>
              <option value="JAN">Jackson, Mississippi</option>
              <option value="CLE">Cleveland, Ohio</option>
              <option value="SEA">Seattle, Washington</option>
              <option value="PHL">Philadelphia, Pennsylvania</option>
              <option value="ALB">Albany, New York</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputDepDate">Departure Date</label>
            <input type="date" class="form-control" name="inputDepDate" required="required">
          </div>
          <div class="form-group col-md-6">
            <label for="inputRetDate">Return Date</label>
            <input type="date" class="form-control" name="inputRetDate">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="passengerCount">Passengers (Adults)</label>
            <input type="number" value="1" class="form-control" name="passengerCount">
          </div>
          <div class="form-group col-md-6">
            <label for="childCount">Passengers (Children)</label>
            <input type="number" value="0" class="form-control" name="childCount">
          </div>
        </div>
        <!-- <div class="form-row">
          <div class="form-group col-md-6">
            <label for="travelClass">Travel Class</label>
            <select class="custom-select" name="travelClass">
              <option value="economy" selected>Economy</option>
              <option value="BUSINESS">Business</option>
            </select>
          </div>
        </div> -->


        <button type="submit" class="btn btn-lg btn-primary">Search Flights</button>
      </div>
    </form>
  </div>
  <%- include('partials/footer') %>
