<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Welcome to GoClouds!</h1>
    <p class="lead">With us, make all your travel dreams come true</p>
    <hr>
    <a class="btn btn-info btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-info btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
